<!DOCTYPE html>
<html>
  <head class="no-js" lang="en">
    <title>Books tracker</title>
    <link rel="stylesheet" href="/books/static/lib/foundation/css/foundation.min.css" />
    <script src="/books/static/lib/foundation/js/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <h1>My Books tracker</h1>
      <div id="main-view"></div>
      <a href="#/add">Add a Book</a>
    </div>
    <!-- templates -->
    <script type="text/template" id="book-listing-tmpl">
      <h2>Books</h2>
      <table id="books-list">
	<tr>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Actions</th>
	<tr>
      </table>
    </script>

    <script type="text/template" id="book-ele-tmpl">
      ksjfdjf
      <td class="title"><%- book.title %></td>  
      <td><%- book.description %></td>
      <td><input type="checkbox" name="finished" class="finished" <% if (book.finished) { %> checked <% } %> /></td>
      <td><a class="edit">Edit</a></td>
      <td><a class="del">Delete</a></td>
    </script>

    <script type="text/template" id="book-detail-tmpl">
      <table>
	<tr><th>Title</th><td> <%- book.title %></td></tr>
	<tr><th>Description</th><td> <%- book.description %></td></tr>
      </table>
      <a href="#/">Back</a>
    </script>
    
    <script type="text/template" id="book-edit-tmpl">
      <h2>Edit Book details</h2>
      <form>
	<table>
	  <tr>
	    <th><label for="title">Title</label></th>
	    <td><input name="title" value="<%- book.title %>" /></td>
	  </tr>
	  <tr>
	    <th><label for="description">Description</label></th>
	    <td><textarea name="title"><%- book.description %></textarea></td>
	  </tr>
	  <tr>
	    <td><input type="submit" value="save" /></td>
      </form>
    </script>
    <script type="text/template" id="book-add-tmpl">
      <h2>Add a Book</h2>
      <form>
	<table>
	  <tr>
	    <th><label for="title">Title</label></th>
	    <td><input name="title" /></td>
	  </tr>
	  <tr>
	    <th><label for="description">Description</label></th>
	    <td><textarea name="title"></textarea></td>
	  </tr>
	  <tr>
	    <td><input type="submit" value="save" /></td>
      </form>
    </script>
    
    <!-- libs -->
    <script src="{{ url_for('books.static', filename='lib/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('books.static', filename='lib/underscore-min.js') }}"></script>
    <script src="{{ url_for('books.static', filename='lib/backbone-min.js') }}"></script>
    <script src="{{ url_for('books.static', filename='lib/foundation/js/foundation.min.js') }}"></script>


    <!-- app javascript files -->
    <script src="{{ url_for('books.static', filename='app/js/models.js') }}"></script>
    <script src="{{ url_for('books.static', filename='app/js/controllers.js') }}"></script>
    <script src="{{ url_for('books.static', filename='app/js/app.js') }}"></script>
  </body>

</html>
